@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@font-face {
    font-family: 'Blacksword';
    src: url('../font/Blacksword.otf');
}

body .ff-satu {
    font-family: 'Blacksword';
}

body .ff-dua {
    font-family: 'Roboto', sans-serif;
}

body .fc-satu {
    color: #ff38cd;
}

body .fc-dua {
    color: #8f628d;
}

body .fc-tiga {
    color: #ffffff;
}

body .fs-satu {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

body .fs-dua {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

body h1 {
    font-family: 'Blacksword';
    font-size: 40px;
}

body h2 {
    font-family: 'Blacksword';
    font-size: 40px;
}

body h3 {
    font-family: 'Blacksword';
    font-size: 35px;
}

body h4 {
    font-size: 30px;
}

body h5 {
    font-size: 25px;
}

body p {
    font-family: 'Roboto', sans-serif;
}

body .dropcap:first-letter {
    color: #721e6b;
    float: left;
    font-size: 4rem;
    line-height: 0.8;
    margin: 0.1em 0.1em 0.2em 0;
}

body .bg-satu {
    background-color: hsl(327, 92%, 64%);
}

body .bg-dua {
    background-color: #8f628f;
}

body .bg-tiga {
    background-color: #ffffff;
}

body .bg-pattern {
    background-image: url(../img/template/background-pattern.png);
    background-size: 500px;
}

body .img {
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    position: relative;
}

body .img:hover {
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-filter: grayscale(0.6);
    filter: grayscale(0.6);
}

body .shadow-1 {
    box-shadow: -1px 22px 27px -15px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 22px 27px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 22px 27px -15px rgba(0, 0, 0, 0.75);
}

body .shadow-2 {
    box-shadow: 2px 10px 10px -6px rgba(0, 0, 0, 0.44);
    -webkit-box-shadow: 2px 10px 10px -6px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 2px 10px 10px -6px rgba(0, 0, 0, 0.44);
}

#welcome .slideshow {
    list-style-type: none;
}

#welcome .slideshow,
#welcome .slideshow:after {
    top: -16px;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    z-index: 0;
}

#welcome .slideshow li span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    -webkit-animation: imageAnimation 30s linear infinite 0s;
    animation: imageAnimation 30s linear infinite 0s;
}

#welcome .slideshow li:nth-child(1) span {
    background-image: url('../img/gallery/slide1.jpg');
}

#welcome .slideshow li:nth-child(2) span {
    background-image: url('../img/gallery/slide2.jpg');
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
}

#welcome .slideshow li:nth-child(3) span {
    background-image: url('../img/gallery/slide3.jpg');
    -webkit-animation-delay: 12s;
    animation-delay: 12s;
}

#welcome .slideshow li:nth-child(4) span {
    background-image: url('../img/gallery/slide4.jpg');
    -webkit-animation-delay: 18s;
    animation-delay: 18s;
}

#welcome .slideshow li:nth-child(5) span {
    background-image: url('../img/gallery/slide5.jpg');
    -webkit-animation-delay: 24s;
    animation-delay: 24s;
}

@-webkit-keyframes imageAnimation {
    0% {
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    8% {
        opacity: 1;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        -webkit-transform: scale(1.5, 1.5);
        transform: scale(1.5, 1.5);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    8% {
        opacity: 1;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        -webkit-transform: scale(1.5, 1.5);
        transform: scale(1.5, 1.5);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@-webkit-keyframes titleAnimation {
    0% {
        opacity: 0;
    }
    8% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    19% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes titleAnimation {
    0% {
        opacity: 0;
    }
    8% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    19% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

#welcome .no-cssanimations .cb-slideshow li span {
    opacity: 1;
}

#slide-1 .container-fluid {
    height: 100vh;
    background-image: url(../img/template/background-smartphone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#slide-1 .container-fluid .bunga-atas {
    width: 200px;
}

#slide-1 .container-fluid .bunga-tengah {
    width: 250px;
}

#slide-1 .container-fluid .bunga-bawah {
    width: 200px;
    z-index: 1;
}

#slide-1 .container-fluid .frame-atas {
    width: 250px;
}

#slide-1 .container-fluid .frame-bawah {
    width: 250px;
}

#slide-2 .container-fluid .img-fluid {
    width: 200px;
}

#slide-2 .container-fluid .bunga-samping {
    width: 120px;
}

#slide-2 .container-fluid .icon-circle {
    width: 30px;
    height: 30px;
    margin: auto;
    background-color: #721e67;
    border-radius: 50%;
}

#slide-3 .container .row img {
    width: 250px;
}

#slide-4 .countdown {
    margin-top: -40px;
}

#slide-4 .countdown .col-2 {
    border-radius: 15px;
}

#slide-4 .container .content-1 {
    border-radius: 15px 50px;
}

#slide-4 .container .content-2 {
    border-radius: 50px 15px;
}

#slide-5 .container-fluid .container .row .img-fluid {
    width: 100px;
}

#slide-6 {
    padding-bottom: 20px;
}

#slide-6 img {
    border-radius: 10px;
    width: 100%;
}

#slide-6 #container {
    text-align: center;
    margin: 0 auto;
}

#slide-6 #imgs-holder {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [4];
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

#slide-6 #modal {
    display: none;
    margin: 0 auto;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

#slide-6 #modal-content {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#slide-6 #modal-content img {
    position: relative;
    cursor: pointer;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    border-radius: 0px;
}

#slide-6 #modal-content img:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

#slide-6 .modal-open {
    opacity: 0;
    animation: fadeIn 0.4s ease-in 1 forwards;
    -webkit-animation: fadeIn 0.4s ease-in 1 forwards;
}

@-webkit-keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

#slide-6 .modal-animate {
    right: -100%;
    animation: slide-left 0.4s ease-in 1 forwards;
    -webkit-animation: slide-left 0.4s ease-in 1 forwards;
}

@-webkit-keyframes slide-left {
    to {
        right: 0%;
    }
}

@keyframes slide-left {
    to {
        right: 0%;
    }
}

#slide-7 .container {
    border-radius: 15px;
}

#slide-7 .container .rounded-custome {
    border-radius: 15px;
}

#slide-7 .container h1 {
    margin-top: 150px;
}

#slide-7 .container .row .pesan {
    height: 400px;
}

#slide-7 .container .row .pesan #tampil {
    height: 400px;
    overflow: auto;
}

#slide-7 .container-fluid .row .bunga-atas {
    width: 250px;
}

#slide-7 .conversation {
    height: calc(100% - 12px);
    position: relative;
    z-index: 0;
}

#slide-7 .conversation .conversation-container {
    overflow-x: hidden;
}

#slide-7 .message {
    color: #000;
    clear: both;
    line-height: 18px;
    padding: 8px;
    position: relative;
    margin: 5px 0;
    max-width: 100%;
    word-wrap: break-word;
    z-index: -1;
}

#slide-7 .metadata {
    float: right;
    padding: 0 0 0 30px;
    position: relative;
    bottom: -4px;
}

#slide-7 .metadata .time {
    color: rgba(0, 0, 0, 0.45);
    font-size: 11px;
    display: inline-block;
}

#slide-7 .message.received {
    background: #fff;
    border-radius: 5px 5px 5px 5px;
    float: left;
}

#slide-7 .message.received:after {
    border-width: 0px 10px 10px 0;
    border-color: transparent #fff transparent transparent;
    top: 0;
    left: -10px;
}

#slide-8 .container .rounded-custome {
    border-radius: 15px;
}

#slide-8 .container p {
    text-align: justify;
}

#slide-9 .container {
    border-radius: 15px;
}

#slide-9 .container .card {
    border-radius: 15px;
}

#slide-9 .container .card img {
    width: 90px;
}

.footer .container {
    height: 270px;
}

.footer .container img {
    width: 180px;
}

.footer .container p {
    margin-top: -50px;
}

.footer .container a {
    color: #000;
    text-decoration: none;
}

@media (min-width: 768px) {
    #slide-1 .container-fluid {
        height: 100vh;
        background-image: url(../img/template/background-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    #slide-1 .container-fluid .bunga-atas {
        width: 350px;
    }
    #slide-1 .container-fluid .bunga-tengah {
        width: 300px;
    }
    #slide-1 .container-fluid .bunga-bawah {
        width: 350px;
        z-index: 1;
    }
    #slide-1 .container-fluid .frame-atas {
        width: 400px;
    }
    #slide-1 .container-fluid .frame-bawah {
        width: 400px;
    }
    #slide-6 {
        padding-bottom: 400px;
    }
    #slide-7 .container h1 {
        margin-top: 300px;
    }
}

@media (min-width: 992px) {
    #slide-1 .container-fluid {
        height: 100vh;
        background-image: url(../img/template/background-desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    #slide-1 .container-fluid .bunga-atas {
        width: 300px;
    }
    #slide-1 .container-fluid .bunga-tengah {
        width: 300px;
    }
    #slide-1 .container-fluid .bunga-bawah {
        width: 300px;
        z-index: 1;
    }
    #slide-1 .container-fluid .frame-atas {
        width: 350px;
    }
    #slide-1 .container-fluid .frame-bawah {
        width: 350px;
    }
    #slide-6 #modal-content {
        width: 70%;
    }
    #slide-8 #modal-content {
        width: 70%;
    }
}


/*# sourceMappingURL=style.css.map */